---
- name: Docker jinja 2 template
  template: 
    src: ../templates/Dockerfile.j2
    dest: ./Dockerfile
  
    
- name: Build an image from Dockerfile
  docker_image:
    build:
    path: .
    name: "{{ image_name }}"
    source: build
